{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a> 

		<div class="boxed">
			<h1> Trickier and trickier... </h1>
			The next room was more well lit, cracks in the ceiling
			let light flood in. Your eyes, used to the dark, take
			a while to adjust and read the next puzzle. <br> <br>
			<img src={% static "images/riddlefive.png" %} alt="magicwords" style="width:50%;height:auto"><br> <br>
		</div>
	</body>
</html>