{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display:700italic' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a>

		<div class="boxed">
			<h1> Let the challenge begin </h1>
			<h3> Instructions </h3>
		</div>
	</body>
</html>