{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a> 

		<div class="boxed">
			<h1> Getting confused? </h1>
			The next door fell open, revealing another in what seems
			to be an endless set of rooms, they all appeared almost
			identical with some only small changes
			but always a different puzzle.<br>
			This room, however, seemed to be illuminated by a
			bioluminescent liquid on the ceiling. Looking closer you
			found it was your next riddle:<br> <br>
			<img src={% static "images/riddlefour.png" %} alt="wordmath" style="width:50%;height:auto"><br> <br>
		</div>
	</body>
</html>