{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a>

		<div class="boxed">
			<h1> Ah.. two fat ladies...</h1>
			<h3> Should have seen them coming a mile off! <br></h3>
			<h2> The next room was bigger, with a torch in the corner.
			It lit up the next riddle, scrawled in white paint across the wall </h2>
			<img src={% static "images/riddletwo.png" %} alt="riddletwo">
			<h2> What am I? </h2>
			
		</div>
	</body>
</html>