{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a> 

		<div class="boxed">
			<h1> You won't need a key for this one! </h1>
			<h3> Riddle Me This.... </h3>
			<img src="{% static "images/riddleone.png" %}" alt="riddleone">
			<h4> What's next? </h4>
		</div>
	</body>
</html>