{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a>

		<div class="boxed">
			<h1> Let the challenge begin </h1>
			Your eyes flicker open, the dark dank room
			coming into focus. Light comes in from a small
			crack in the ceiling illuminating a stony dungeon.
			Ivy encrusted the walls and a damp smell eminates from
			every stone.<br>
			The only way out appears to be a large steel door. You
			run over, trying the lock, but it's stuck.
			However behind a string of ivy you find a keypad reading:
			<br> Please Enter Password. Hint: look at the walls. <br>
			You look at the walls, ripping away all the ivy and
			there reads a message on a golden plaque on the wall:
			<h1> Instructions </h1>
			<ul>
				<li> Each room will have a riddle </li>
				<li> When you solve the riddle type your answer into the
				solution area with no spaces and all letters lowercase </li>
				<li> The 'solution area' is the end of the url. </li>
				<li> Good luck young quester... the answer is key! </li>
			</ul>
			
		</div>
	</body>
</html>