{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a> 

		<div class="boxed">
			<h1> Now we've got you started! </h1>
			<h3> You won't need a key for this one! </h3>
			<h2> Clunk. The steel door falls open.
			There's no lights in this room,
			just a faint glow from a lit up panel by the door.
			You walk up to it, it reads:</h2>
			<img src="{% static "images/riddlethree.png" %}" alt="riddlethree">
		</div>
	</body>
</html>