{% load staticfiles %}
<html>
	<head>
		<title>Riddle Me This</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/riddle.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
	</head>
	<body background={% static "images/background.png" %}>
		<center>
		<a href="https://emchammer.pythonanywhere.com/">
		<img src="{% static "images/Castl.png" %}" alt="Logo">
		</a> 

		<div class="boxed">
			<h1> Now we've got you started! </h1>
			The door creaks open,
			revealing a room almost identical to where you started.
			the only difference: some strange symbols
			carved into the wall and a question:<br>
			<img src="{% static "images/riddleone.png" %}" alt="riddleone">
			<h2> What's next? </h2>
		</div>
	</body>
</html>