h1 {
	color: #000000;
	font-family: 'Playfair Display', serif;
}

h3 {
	font-family: 'Playfair Display', serif;
}

body {
padding-left: 60px;
padding-right: 60px;
background-size: contain;
}



.boxed {
	border: 5px solid #757575 ;
	max-width: 75%;
	background-color: #c9c9c9;
}


img{max-width: 100%; max-height: auto;}
